
@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximaNova/thin/proximanova-webfont.eot");
    font-weight: 100; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximaNova/light/proximanova-webfont.eot");
    font-weight: 300; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximaNova/proximanova-webfont.eot");
    font-weight: 400; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximaNova/semibold/proximanova-webfont.eot");
    font-weight: 600; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximaNova/bold/proximanova-webfont.eot");
    font-weight: 700; 
}