/* 
@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/ProximaNova-Light.ttf");
    font-weight: 300; 
} */

@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/ProximaNova-Regular.ttf");
}
/* 
@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximaNova/semibold/proximanova-webfont.eot");
    font-weight: 600; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/proximaNova/bold/proximanova-webfont.eot");
    font-weight: 700; 
} */